.margin-left {
  margin-left: 20px;
}

.button-as-link {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: black;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
}

.button-clicked {
  color: rgb(122, 224, 224);
}
