.red {
  color: red;
}

.black {
  color: black;
}

.crossed {
  text-decoration: line-through;
}

.maring-left {
  margin-left: 20px;
}

.row-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.to-do-label {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
