.App {
  margin: 0;
  text-align: center;
  height: 700px;
  font-family: cursive;
}

.background-container {
  /* height: 300px;
  background-color: rgb(122, 224, 224); */

  height: 300px;
  position: relative;
  background-image: url("../public/header-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.app-container {
  padding-top: 150px;
}
